@import "@styles/basic/variables";
@import "@styles/basic/mixin";

.contact-container {
    min-height: calc(100vh - 102px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 62px;

    @include min-lg {
        min-height: calc(100vh - 116px);
        flex-wrap: unset;
        gap: 20px;
    }
    

    .contact-content {
        display: flex;
        flex-direction: column;
        max-width: 774px;
        width: 100%;
        padding-top: 120px;
        color: $text-color;

        @include min-lg {
            padding-top: 70px;
        }
        .sub-title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 30px;

            @include min-lg {
                font-size: 24px;
            }
        }

        .title {
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 15px;
            @include min-lg {
                font-size: 104px;
            }
        }
        
        .social-container {
            margin-bottom: 50px;
        }
    }

    .bg-img-container {
        // position: absolute;
        position: relative;
        aspect-ratio: 598/809;
        height: 100%;
        width: 100%;
        max-height: 809px;
        max-width: 598px;
        align-self: end;
        .bg-img {
            // background-image: url("/assets/aviv-contact.png");
            // background-repeat: no-repeat;
            // background-size: contain;
            // background-position: 0%, 10%;
        }
    }
}
