.inner-container {
    width: 100%;
    padding-inline: 15px;
}

@media screen and (min-width: 1230px) {
    .inner-container {
        max-width: 1200px;
        padding-inline: unset;
        margin: auto;
    }
}

@media screen and (min-width: 1605px) {
    .inner-container {
        max-width: 1575px;
        padding-inline: unset;
        margin: auto;
    }
}
