.response-modal {
    display: flex;
    .modal-content {
        max-width: 639px;
        margin: auto;
        background-color: #141414;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        max-height: 508px;
        height: 100%;

        .title {
            font-size: 24px;
            margin-top: 20px;
            font-weight: 700;
            color: $text-color;
        }

        .description {
            font-size: 18px;
            margin-top: 10px;
        }

        .go-home-btn {
            margin-top: 20px;
        }
    }
}
